a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #dad7cd;
    background-image: url(images/apriori-image.png);
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .container {
    background-color: azure;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-container {
    height: 75px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #faedcd;
    z-index: 9999;
  }

  .nav-container p {
    transform: translate(272px, -3px);
    font-size: 25px;
    color: #6c757d;
    font-weight: bold;
  }

  .nav-container img {
    width: 35px;
    transform: translate(0px, 5px);
  }

  .nav-bottom {
    background-color: #ffe6a7;
    height: 55px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0px;
    top: 75px;
    left: 0px;
    z-index: 9999;
  }

  .nav-bottom p {
    transform: translate(272px, -7px);
    font-weight: lighter;
    font-size: 20px;
    color: #6c757d;
  }

  .deleteInputDataBtn {
    position: absolute;
    top: 15px;
    right: 57px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ca6702;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    z-index: 9999;
    transition: all 0.3s linear;
    width: 45px;
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  .sidebar-header a {
    font-family: 'Brush Script MT', cursive;
    font-size: 45px;
    color: white;
  }

  .side-text a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: white;
    transition: all 0.3s linear;
  }

  .side-text,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .side-text a:hover {
    background: #ee9b00;
    color: white;
    padding-left: 1.75rem;
  }

  .side-text ul li a img {
    size: 32px;
  }

  .side-text .logo {
    width: 12%;
    transform: translate(0px, 3px);
  }

  .btnLogout {
    position: absolute;
    top: 20px;
    right: 57px;
    border-radius: 5px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }

  .itemAndTable{
    position: relative;
    background-color: white;
    padding: 65px;
    padding-bottom: 20.5px;
    width: 770px;
    top: 44px;
    left: 85px;
    right: 85px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 
    0 0 0 2px #d4a373,
    0.3em 0.3em 2em #432818;
  }

  .itemTableTitle {
    background-color: #d4a373;
    position: relative;
    bottom: 65px;
    right: 65px;
    width: 897px;
    padding: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .itemTableTitle p {
    color: white;
    font-weight: bold;
    position: relative;
    left: 5px;
  }
  
  .tableOfItem {
    display: grid;
    position: relative;
    bottom: 30px;
    flex: 1;
  }

  .tableOfItem table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tableOfItem th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .tableOfItem tr:first-child td {
    background-color: #ccc; 
  }

  .tableOfItem tr td {
    background-color: #edede9; 
    font-size: 10.5px;
  }
  
  .tableOfItem th {
    background-color: #f0f0f0;
  }

  .paginateButton {
    background-color: #e9ecef;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap:10px;
    positon: fixed;
    top: 12px;
    transform: translate(0, -12px);
  }

  .paginateButton a {
    color: white;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    padding: 8.5px;
    background-color: #495057;
  }

  .modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap:45px;
    background: rgba(73,166,233,0.5);
    display: grid;
    place-items: center;
    transition: all 0.1s linear;
    visibility: hidden;
    transform: translate(85px,45px);
  }

  .update-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap:45px;
    background: rgba(73,166,233,0.5);
    display: grid;
    place-items: center;
    transition: all 0.1s linear;
    visibility: hidden;
    transform: translate(85px,45px);
  }

  .open-modal{
    visibility: visible;
    z-index: 10;
  }

  .modal-container{
    background: white;
    padding: 12px;
    border-radius: 0.5rem;
    width: 90vw;
    heigth: 30vh;
    max-width: 620px;
    display: grid;
    justify-content: center;
    text-align: center;
    position: relative;
    transform: translate(55px,25px);
  }

  .update-modal-container{
    background: white;
    padding: 12px;
    border-radius: 0.5rem;
    width: 90vw;
    heigth: 30vh;
    max-width: 620px;
    display: grid;
    justify-content: center;
    text-align: center;
    position: relative;
    transform: translate(55px,-55px);
  }

  .add-items-position{
    padding: 12px;
  }

  .input-items-position{
    display: grid;
    padding: 5px;
    gap: 25px;
  }

  input[type="text"]{
    width: 100%;
    height: 25px;
    padding: 2px, 3px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-szie: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  input[type="text"]:focus{
    border-shadow: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    outline: none;
  }

  .modal-accept-btn{
    background: #74c69d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    cursor: pointer;
  }

  .modal-accept-btn:hover{
    background-color: #95d5b2;
  }

  .update-accept-btn{
    background: #74c69d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    cursor: pointer;
  }

  .update-accept-btn:hover{
    background-color: #95d5b2;
  }

  .modal-close-btn{
    background: #ff4d6d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    cursor: pointer;
  }

  .modal-close-btn:hover{
    background-color: #ff8fab;
  }

  .update-close-btn{
    background: #ff4d6d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    cursor: pointer;
  }

  .update-close-btn:hover{
    background-color: #ff8fab;
  }

  @media screen and (min-width: 676px) {
    .sidebar {
      width: 250px;
    }
  }

  @media only screen and (max-width: 768px) {

    /* For tablets and smaller screens */
    .container {
      max-width: 80%;
    }

    input[type="text"],
    input[type="number"] {
      font-size: 14px;
    }

    button {
      padding: 8px 12px;
    }
  }

  @media only screen and (max-width: 480px) {

    /* For mobile phones */
    .container {
      max-width: 90%;
    }

    input[type="text"],
    input[type="number"] {
      font-size: 12px;
    }

    button {
      padding: 6px 10px;
    }
  }